In [15]:
import pandas as pd
df =pd.read_csv('results-station.csv')
df

,id,installed,latitude,locked,longitude,name,bikes_count,docks_count,nbEmptyDocks,temporary,terminal_name,install_date,removal_date
0,404,True,51.502042,False,-0.184400,"Palace Gate, Kensington Gardens",0,13,13,False,1110,2011-03-09,NaN
1,82,True,51.514274,False,-0.111257,"Chancery Lane, Holborn",0,15,14,False,3453,2010-07-13,NaN
2,402,True,51.522892,False,-0.171682,"Penfold Street, Marylebone",0,15,15,False,10625,2011-03-08,NaN
3,733,True,51.505426,False,-0.150817,"Park Lane, Mayfair",0,18,18,False,300093,2013-11-26,NaN
4,105,True,51.515530,False,-0.190241,"Westbourne Grove, Bayswater",0,26,26,False,1041,2010-07-14,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
784,247,True,51.530529,False,-0.167515,"St. John's Wood Church, The Regent's Park",44,50,6,False,1091,2010-07-20,NaN
785,144,True,51.488940,False,-0.111436,"Kennington Cross, Kennington",45,47,2,False,1093,2010-07-15,NaN
786,681,True,51.473037,False,-0.214750,"Bishop's Avenue, Fulham",46,46,0,False,200043,2013-11-06,NaN
787,362,True,51.536264,False,-0.133952,"Royal College Street, Camden Town",54,57,2,False,2686,2010-11-18,NaN
788,671,True,51.475089,False,-0.201968,"Parsons Green Station, Parsons Green",54,56,2,False,300052,2013-10-31,NaN

In [16]:
from collections import defaultdict

In [18]:
n = len(df)
n

789

In [19]:
newL = df['docks_count']
# newL.count(0)
M = list(set(newL))
# print(M)
d = defaultdict(int)
for i in M:
    for dock in newL:
        if dock == i:   
            d[str(i)] += 1
print(d)

defaultdict(<class 'int'>, {'10': 3, '13': 3, '14': 6, '15': 18, '16': 39, '17': 28, '18': 56, '19': 27, '20': 34, '21': 52, '22': 33, '23': 20, '24': 73, '25': 27, '26': 29, '27': 38, '28': 41, '29': 21, '30': 39, '31': 12, '32': 13, '33': 22, '34': 14, '35': 16, '36': 25, '37': 15, '38': 7, '39': 9, '40': 5, '41': 12, '42': 6, '43': 5, '44': 3, '45': 9, '46': 5, '47': 3, '48': 2, '49': 1, '50': 2, '51': 3, '52': 1, '53': 1, '54': 2, '55': 1, '56': 2, '57': 2, '60': 1, '63': 1, '64': 2})

In [20]:
docks = []
freq_use = []
for i, v in d.items():
    docks.append(int(i))
    freq_use.append(v)

print(docks, len(freq_use))
print(freq_use, len(freq_use))

[10, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 60, 63, 64] 49
[3, 3, 6, 18, 39, 28, 56, 27, 34, 52, 33, 20, 73, 27, 29, 38, 41, 21, 39, 12, 13, 22, 14, 16, 25, 15, 7, 9, 5, 12, 6, 5, 3, 9, 5, 3, 2, 1, 2, 3, 1, 1, 2, 1, 2, 2, 1, 1, 2] 49

In [21]:
s1=pd.Series(docks)
s2=pd.Series(freq_use)

In [22]:
# pandasでPearso's rを計算
res=s1.corr(s2)   # numpy.float64 に格納

# 結果
print(res)

-0.6314831126434629

In [23]:
from scipy.stats import pearsonr
r, p = pearsonr(s1, s2)
print('相関係数 r = {r}'.format(r=r))
print('有意確率 p = {p}'.format(p=p))
print('有意確率 p > 0.05: {result}'.format(result=(p > 0.05)))
#Uncorrelated analysis

相関係数 r = -0.631483112643463
有意確率 p = 1.1433012325246668e-06
有意確率 p > 0.05: False